@media screen and (max-width:425px) {
.header-container{
    flex-direction: column;
}
.nav-item-container{
    flex-direction: column;
}
.goat-section{
    flex-direction: column-reverse;
}
.image-section img{
    width: 80%;
}
.gota-title{
    width: 100%;
}
.image-section{
    width: 100%;
}
.image-section{
    margin-left: 0px;
    display: block;
    text-align: center;
}
.funny-image {
    flex-direction: column;
    gap: 100px;
   
}

.instalis-section{
    flex-direction: column-reverse;
    margin-top: 118px;


}

.instalis-images img{
    width: 100%;
}
.instalis-images .image-small{
    width: 70%;
} 

.instalis-content{
    margin: 20px;
}

.rectangle-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.rectangle-section img{
    width: 34%;
    
}
.rectangle-image:hover {
    padding:10px 27px;
    border-radius: 30px;

}

.footer-section{
    flex-direction: column;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.foother-policy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}

/* teblet responsive */
/* @media screen  and (min-width:426px)  and (max-width:768px) {
    .header-container{
        flex-direction: column;
        margin-left: 120px;
    }
    .nav-item-container a{
     font-size: 30px;
     margin-right: 10px;
    }
    .goat-section{
        display: grid;
        grid-template-columns: 1fr;
        background-size: 100%;
        background-position-x: 30px;
    }
    .gota-title{
        margin-left: 20px;
    }
    .gota-title .ton{
        padding: 32px;
    }
    .image-section{
      margin-top: 273px;
    }



} */