
/* mobile responsive  */

@media screen and (max-width:425px) {
.header-container{
    flex-direction: column;
}
.nav-item-container{
    flex-direction: column;
}
.goat-section{
    flex-direction: column-reverse;
}
.image-section img{
    width: 80%;
}
.gota-title{
    width: 100%;
    margin-top: 35px;
}
.image-section{
    width: 100%;
}
.image-section{
    margin-left: 0px;
    display: block;
    text-align: center;
}
.funny-image {
    flex-direction: column;
    gap: 100px;
   
}

.instalis-section{
    flex-direction: column-reverse;
    margin-top: 118px;

}

.instalis-images img{
    width: 100%;
}
.instalis-images .image-small{
    width: 70%;
} 

.instalis-content{
    margin: 20px;
}

.rectangle-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.rectangle-section img{
    width: 34%;
    
}
.rectangle-image:hover {
    padding:10px 27px;
    border-radius: 30px;

}

.footer-section{
    flex-direction: column;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.foother-policy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

}

/* tablet responsive */

@media screen  and (min-width:426px)  and (max-width:768px) {
    .header-container{
        flex-direction: column;
        margin-left: -41px;
    }
    .nav-item-container{
        flex-direction: column;
    }
    .nav-item-container .btn{
        padding: 12px;
    }

    .goat-section{
        flex-direction: column-reverse;
    }
    .image-section {
        width: 77%;
    }
    .gota-title {
        margin-left: -76px;
        width: 57%;
        margin-top: 57px;
        /* 343 */
    }

    .image-section{
        margin-left: 0px;
        display: block;
        text-align: center;
    }


    .funny-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 75px;
        width: 82%;
       
    }

    .instalis-section{
        margin-left: 67px;
        flex-direction: column;
        margin-top: 118px;}
    
    .instalis-content{
        margin-top: -67px;
        margin-right: 45px;
    }
    .instalis-images{
        margin-top: -233px;
    }
    .rectangle-title{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    
    }
    .footer-section{
        flex-direction: column;
    }
    .footer-text{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .foother-policy{
        flex-direction: column;
    }
}
   