@media screen and (max-width:425px) {
.header-container{
    flex-direction: column;
}
.nav-item-container{
    flex-direction: column;
}
.goat-section{
    flex-direction: column-reverse;
}
.image-section img{
    width: 80%;
}
.gota-title{
    width: 100%;
}
.image-section{
    width: 100%;
}
.image-section{
    margin-left: 0px;
    display: block;
    text-align: center;
}
.funny-image {
    flex-direction: column;
    gap: 100px;
   
}
.instalis-section{
    flex-direction: column-reverse;
}
.rectangle-title{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-section{
    flex-direction: column;
}
.footer-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


}